# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
ansible
ansible*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml*
#VSCode
.vscode
.vscode/settings.json
•.code-workspace
