---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  #% if bootstrap_cloudflare.enabled %#
  PUBLIC_DOMAIN: "#{ bootstrap_cloudflare.public_domain }#"
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% endif %#
